<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listagem de items</title>
</head>
<body>
    <a href="{% url 'criar_consulta' %}">Criar uma consulta</a>
    <ul>
        <li>
            Paciente: {{consultas.nome_paciente}} <br>
            Data: {{consultas.data}} <br>
            Médico: {{consultas.medico}} <br>
            Estado da consulta: {{consultas.status}}
        </li>
    </ul>
</body>
</html>